/* Reset */
body {
  margin: 0;
  padding: 50px;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Header */
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Carousel */
.carousel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carousel-slides-container {
  width: fit-content;
  position: relative;
}

.carousel-slide {
  height: calc(100vh - 289px);
  width: 100%;
  border-radius: 6px;
  object-fit: contain;
  display: none;
}

/* Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  padding: 16px;
  font-size: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;
}

.prev-btn {
  left: 16px;
}

.next-btn {
  right: 16px;
}

/* Dots */
.carousel-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  border: 1px solid #bbb;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:hover {
  background-color: #ce036a;
}

.dot-active {
  background-color: #ce036a;
}

/* Footer */
copyright-text {
  text-align: center;
  margin-top: 40px;
}
